<template>
  <div>
    <div>

      <div v-if="isCreated"
           class="tiles"
           ref="tiles">
        <tile
            v-for="(tile,index) in indexArray"
            :key="index+1"
            :tile="tile">
        </tile>
      </div>


      <div v-if="isCreated"
           class="game-wrapper">
        <table>

          <tr v-for="(row,i) in rows"
              :key="i">

            <td v-for="(item,j) in cols"
                :key="j"
                :style="{width:`${widthSize}px`,height:`${heightSize}px`}">
              <cell :rowIndex="i"
                    :colIndex="j"
                    :rows-count="rows"
                    :cols-count="cols"
                    ref="cellBoard">
              </cell>

            </td>

          </tr>

        </table>


      </div>

    </div>
  </div>

</template>

<script>
import Cell from "./Cell";
import Tile from "./Tile";

export default {
  name: "Board",
  components: {
    Cell,
    Tile
  },
  props: ['rows', 'cols', 'isCreated'],
  data() {
    return {
      clickedTile: '',
      widthSize: 0,
      heightSize: 0,
      createBoard: false,
      indexArray: [],
      rowsData: null,
      colsData: null,
      tileCount: null
    }
  },
  watch: {
    'rows': function (value) {
      if (value && this.cols) {
        this.tileCount = value * this.cols
        this.defaultArr()
      }
    },
    'cols': function (value) {
      if (value && this.rows) {
        this.tileCount = value * this.rows
        this.defaultArr()
      }
    }
  },
  mounted() {
    this.widthSize = 100
    this.heightSize = 100

    // setTimeout(() => {
    // this.defaultArr()
    // }, 1000)

    // setTimeout(() => {
    //   this.shuffle()
    // }, 500)

  },
  methods: {
    // tileCount() {
    //   return this.rows * this.cols
    // },
    defaultArr() {
      const count = this.tileCount
      let arr = []
      for (let i = 0; i < count; i++) {
        arr.push(i + 1)
      }
      this.indexArray = [...arr]
    },
    shuffle() {
      const count = this.tileCount
      let arr = []
      for (let i = 0; i < count; i++) {
        arr.push(i + 1)
      }
      this.shuffledArray = arr.sort((a, b) => 0.5 - Math.random());

    },
  }
}
</script>

<style scoped>
table {
  position: relative;
  margin: 3rem auto 3rem auto;
  border-spacing: 0;
  z-index: 0;
  width: max-content;
}

td {
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  /*width: 100px;*/
  /*height: 100px;*/
}
.game-wrapper{
  overflow-x: auto;
  max-width: 100vw;
}
</style>
