<template>
  <div class="cell"
       :data-row-index="rowIndex"
       :data-col-index="colIndex"
       ref="cell">
  </div>
</template>
<script>
export default {
  name: "Cell",
  props: ['rowIndex', 'colIndex', 'rowsCount', 'colsCount', 'clickedTile'],
  methods: {
    init() {
      if (!this.$refs.cell.firstChild) {
        this.$refs.cell.appendChild(document.querySelector('.tile'));
      }

      if (this.rowIndex === 0 && this.colIndex === 0) {
        this.$refs.cell.classList.add('empty-cell')
      }

    }
  },
  mounted() {
    setTimeout(() => {
      this.init()
    }, 700)

  }
}

</script>

<style scoped>
.cell {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*opacity: 1;*/
  transform: translateY(0);
}

/*.cell.empty-cell {*/
/*    opacity: 0;*/
/*    transition: all 0.6s ease-out;*/
/*}*/
</style>
