<template>
  <div class="create-board-wrapper">

    <div class="num-input-wrapper">
      <input type="number" v-model="rowNum" class="num-input" placeholder="Enter row number..."/>
      <input type="number" v-model="colNum" class="num-input" placeholder="Enter col number..."/>
    </div>

    <button @click="initBoard(rowNum,colNum)"
            class="button-style">Create Board
    </button>
  </div>
</template>

<script>
export default {
  name: "Inputs",
  // props: ['rowNum', 'colNum'],
  data() {
    return {
      rowNum: null,
      colNum: null,
    }
  },
  methods: {
    initBoard(rowNum, colNum) {
      // setTimeout(() => {

      // this.rows = parseInt(rowNum);
      // this.cols = parseInt(colNum);
      this.rows = null;
      this.cols = null;

      // if (this.$refs.cellBoard) {
      //   (this.$refs.cellBoard).forEach(cell => {
      //     if (cell.$el.firstElementChild) {
      //       cell.$el.removeChild(cell.$el.firstElementChild)
      //     }
      //   })
      // }

      this.cols = parseInt(colNum);
      this.rows = parseInt(rowNum);


      this.$emit('getRows', this.rows)
      this.$emit('getCols', this.cols)


      // if (rowNum) {
      //   this.rows = parseInt(rowNum);
      // } else {
      //   alert('Please enter row number.')
      // }
      // if (colNum) {
      //   this.cols = parseInt(colNum);
      // } else {
      //   alert('Please enter column number.')
      // }

      if (this.rows && this.cols) {
        this.createBoard = true
      } else {
        this.createBoard = false
      }

      this.$emit('createBoard', this.createBoard)
      // }, 700)

      setTimeout(() => {
        // let lastItem = this.$refs.tiles[this.$refs.tiles.length - 1]

        let allTiles = document.querySelectorAll('.tile')
        allTiles[allTiles.length - 1].remove()

        // lastItem.removeChild(lastItem.firstElementChild)
        // console.log(lastItem.$el,' lastItem.$el')
        // console.log((lastItem.$el).firstElementChild,' lastItem.$el.firstElementChild')
      }, 700)


    }
  },
}
</script>

<style scoped>

.create-board-wrapper {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
}

.num-input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.num-input-wrapper input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.num-input-wrapper input:focus,
.num-input-wrapper input:active {
  outline: none;
  border: 1px solid #ccc;
}
.num-input-wrapper input:first-child {
  margin-right: 5px;
}

.num-input-wrapper input:last-child {
  margin-left: 5px;
}
</style>