<template>
  <div ref="tile"
       class="tile"
       @click="moveTile($event)"
       :style="{width:`${widthSize-10}px`,height:`${heightSize-10}px`,top:`${topSize}px`,left:`${leftSize}px`}"
       :data-tile-id="tile">
    {{ tile }}
  </div>
</template>

<script>

export default {
  name: "Tile",
  props: ['rowIndex', 'colIndex', 'rowCol', 'widthSize', 'heightSize', 'tile'],
  data() {
    return {
      shuffledArray: [],
      topSize: 5,
      leftSize: 5
    }
  },
  methods: {
    moveTile(event) {
      // event.stopPropagation()

      setTimeout(() => {
        let tile_parent = event.target.parentElement
        let empty_el = document.querySelector('.empty-cell')

        if (tile_parent && empty_el) {
          let parent_row = parseInt(tile_parent.getAttribute('data-row-index'))
          let parent_col = parseInt(tile_parent.getAttribute('data-col-index'))


          let empty_row = parseInt(empty_el.getAttribute('data-row-index'))
          let empty_col = parseInt(empty_el.getAttribute('data-col-index'))

          if (parent_row === empty_row && parent_col - empty_col === 1) {
            // به سمت چپ
            event.target.style.left = '-100px'

            setTimeout(() => {
              tile_parent.removeChild(tile_parent.firstElementChild)
              empty_el.appendChild(event.target)
              event.target.style.left = '5px'
            }, 300)

          } else if (parent_row === empty_row && parent_col - empty_col === -1) {
            // به سمت راست
            event.target.style.left = '100px'

            setTimeout(() => {
              tile_parent.removeChild(tile_parent.firstElementChild)
              empty_el.appendChild(event.target)
              event.target.style.left = '5px'
            }, 300)

          } else if (parent_col === empty_col && parent_row - empty_row === 1) {
            // به سمت بالا
            event.target.style.top = '-100px'

            setTimeout(() => {
              tile_parent.removeChild(tile_parent.firstElementChild)
              empty_el.appendChild(event.target)
              event.target.style.top = '5px'
            }, 300)

          } else if (parent_col === empty_col && parent_row - empty_row === -1) {
            // به سمت پایین
            event.target.style.top = '100px'

            setTimeout(() => {
              tile_parent.removeChild(tile_parent.firstElementChild)
              empty_el.appendChild(event.target)
              event.target.style.top = '5px'
            }, 300)

          } else {
            return;
          }
          tile_parent.classList.add('empty-cell')
          empty_el.classList.remove('empty-cell')

        } else {
          return;
        }


        // if ((parent_row === empty_row && Math.abs(parent_col - empty_col) === 1)
        //     || ((parent_col === empty_col) && Math.abs(parent_row - empty_row) === 1)) {
        //
        //   // event.target.classList.add('animation-tile')
        //
        //   tile_parent.removeChild(tile_parent.firstElementChild)
        //   tile_parent.classList.add('empty-cell')
        //
        //   empty_el.classList.remove('empty-cell')
        //   empty_el.appendChild(event.target)
        //
        // }


      }, 300)

    },
  }
}
</script>

<style scoped>
.tile {
  background-color: #ccc;
  width: 91%;
  height: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  transition: .3s;
  z-index: 2;
  border-radius: 5px;
}

.animation-tile {
  animation: 'example 3s infinite'
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.tile span {
  z-index: 1;
}
</style>
