<template>
  <div id="app"
       class="container">
    <Inputs @getRows="getRows"
            @getCols="getCols"
            @createBoard="createBoard"></Inputs>

    <board v-for="count in totalCount" :key="`component-${count}`"
           :rows="rows"
           :cols="cols"
           :is-created="isCreated"></board>

    <!--    <button v-if="isCreated"-->
    <!--            @click="duplicateEl"-->
    <!--            class="button-style">Add Board-->
    <!--    </button>-->

  </div>
</template>

<script>
import Board from "./components/Board";
import Inputs from "./components/Inputs";

export default {
  name: 'App',
  components: {
    Board,
    Inputs
  },
  data() {
    return {
      totalCount: 1,
      rows: null,
      cols: null,
      isCreated: false
    }
  },
  methods: {
    duplicateEl() {
      this.totalCount++;
    },
    getRows(rows) {
      this.rows = rows
    },
    getCols(cols) {
      this.cols = cols
    },
    createBoard(flag) {
      this.isCreated = flag
    }
  }
}
</script>
<style scoped>
/*.add-board {*/
/*  margin: 0 auto;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 1rem;*/
/*  cursor: pointer;*/
/*}*/

.container {
  max-width: 500px;
  margin: 0 auto;
}
</style>
<style>
body {
  background-color: #fff;
}

.button-style {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
</style>
